/* 
*{
    color: wheat;
} */
 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
header{
    max-width: 1200px;
    margin: 0 auto;
    height: 700px; 
     background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.navtitle{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.navoption{
    border: 1px solid rgb(105, 105, 105);
padding: 10px;
border-radius: 39px;
}

.navoption a{
    text-decoration: none;
    color: rgb(255, 255, 255);
     
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-right: 40px;
}

.home{
    background-color: orangered;
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
}

body{
    max-width: 1140px;
    margin: 0 auto;
    background-color: black;
    font-family: "Inter", sans-serif; 
}

/* banner  */
.banner-container{
    display: flex;
    justify-content: space-around;
}

.banner-text{
    width: 50%;
}

.banner-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 78px;
font-weight: 900;
 
}

.banner-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
}

.btn-1{
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
  
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
     
    font-family: Inter;
    font-size: 18px;
    margin-right: 20px;
}

.btn-2{
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
    border: 1px solid rgb(255, 255, 255);
   background-color: #000;
   color: whitesmoke;
}

.banner-img{
    background-image: url("../images/Images\ 2.png");
   
    height: 550px;
    width: 320px; }

.workout{
    background: rgba(255, 255, 255, 0.1);
     
    color: whitesmoke;
    backdrop-filter: blur(20px);
position: absolute;
width: 193px;
height: 98px;
left: 1107px;
top: 260px;
padding: 10px;
border-radius: 12px;
}


.tutorial{
   color: rgb(255, 255, 255) ;
   border-radius: 12px;
backdrop-filter: blur(20px);
position: absolute;
width: 206px;
height: 96px;
left: 764px;
top: 556px;
display: flex;
justify-content: center;
align-items: center;

}

.t-logo{
    width: 40px;
height: 40px;
background: rgb(230, 83, 60);
border-radius: 50%;
margin-right: 15px;
}

/* Change habits section start  */
.change-habit{
     align-items: center;
     text-align: center;
     margin: 100px 0px;
}
.habit-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
 
}
.havit-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.habit-1{
color: rgb(255, 255, 255);
 
text-align: center;
}
.habit-image{
    width: 180px;
height: 180px;
 border-radius: 50%;
}
/* run mile section  */
.run-mile{
display: flex;
background-color: rgb(34, 34, 34);
margin-top: 100px;
border-radius: 18px;
padding: 50px;
justify-content: space-between;
}
.run-text{
    width: 50%;
}
.run-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.run-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.run-image{
    width: 366px;
height: 312px;
border-radius: 30px;
}
/* .run-btn{
    padding: 16px 40px 16px 40px;
} */
 /* meet team  */
 .meet-container{

 }
 .meet{
    text-align: center;
    justify-content: center;
    color: white;
    width: 670px;
    margin: auto;
 }
 .meet-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
  
 }
 .meet-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
 }
 .meet-img-container{     height: 600px;
    margin: 100px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    gap: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1); 
 }

 .meet-img-1{
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-1{
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-1{
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-2{
    background-image: url("../images/trainer2.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
background-color: rgba(0, 0, 0, 0.2)
}
 .meet-img-3{
    background-image: url("../images/trainer3.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-4{
    background-image: url("../images/trainer4.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-5{
    background-image: url("../images/exercise5.jpg");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}
 .meet-img-6{
    background-image: url("../images/trainer6.png");
    background-repeat: no-repeat;
    height: 283px;
    width: 345px;
    background-size: cover;
    border-radius: 18px ;
margin: auto;
}

.meet-text{
    padding-top: 190px;
    line-height: 0%;
}
.meet-img-name{
    font-family: Inter;
font-size: 28px;
font-weight: 900;
color:  rgb(255, 255, 255);
padding-left: 10px;
}
 .meet-img-position{
    font-size: 18px;
   
    color:   rgba(255, 255, 255, 0.5);
padding-left: 10px;
  

 }